<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinocarbon.workflow.dao.ActApdRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sinocarbon.workflow.pojo.ActApdRole">
        <id column="ID_" property="id" />
        <result column="ROLE_CODE_" property="roleCode" />
        <result column="ROLE_NAME_" property="roleName" />
        <result column="TENANT_ID_" property="tenantId" />
    </resultMap>

</mapper>
